#*
\#*
.deps
*.fls
*.fdb_latexmk
*-blx.bib
*.idx
*.ilg
*.ind
*.nlo
*.nls
*.stderr
*.run.xml
*.*.d
*.bcf
*.auxlock
*.missing-*.txt
*.bak
*.$*$
*.lyx~
*.pyc
*.out
*.blg
*.bbl
*.aux
*.log
*.lyx#
*.lyx.emergency
*.dvi
*.idv
*.xref
*.tmp
*.atfi
*.*~
.deps
*.toc
